/*- Base reset -*/

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/*- Base color -*/

$main-color: #384452; // light black - dark grey
$secondary-color: #01b2fe; // light blue
$background-color: #e3e3e3; // silver-ish or can use this bfc9d3
$text-color: #fff; // white, obviously
$link-color: #428bca; // light blue - well, pretty dark compared to secondary-color
$black-color: #000; // obviously black

/*- Base settings -*/

html {
	background-color: $background-color;
	font-size: 16px;
	@media (min-width: 940px) {
		font-size: 18px;
	}
	line-height: 1.5;
	color: $text-color;
}

/*- Link -*/

a {
	color: $link-color;
	text-decoration: none;
	font-weight: 700;
	&:hover, &:focus {
		color: darken($link-color, 5%);
    text-decoration: none;
	}
}
